<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StreamingMediaPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F03E23C21F037A2300410AAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F03E23DB1F037A2300410AAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F03E23E61F037A2300410AAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
